/* Add this CSS in a separate file, e.g., homeStyles.css */
.container {
    text-align: center;
    margin-top: 250px;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  
  h3 {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  