/* Add this CSS in a separate file, e.g., styles.css */
nav {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .left-links {
    display: flex;
    align-items: center;
  }
  
  nav .left-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px; /* Adjust the margin between "Home" and "Product" */
  }
  
  nav .right-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  

  /* nav.css */

/* Add this at the end of your existing styles */
.cart-length {
  background-color: #007bff;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}
